MONGO_URI=your_mongodb_connection_string
JWT_SECRET=anylongrandomstring
GOOGLE_CLIENT_ID=from_google_console
GOOGLE_CLIENT_SECRET=from_google_console
GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/google/callback
CLIENT_URL=http://localhost:5173
PORT=5001